# Python
__pycache__/
*.pyc

# Environment variables
.env

# User data & Memory
memory/user_data.json

# Screenshots
screenshot_*.png

# Temporary audio files
*.mp3

# Logs
*log.txt

# Node
node_modules/
